[Unit]
Description=KOS Startup
After=systemd-user-sessions.service

[Service]
User=rock
Type=simple
WorkingDirectory=/home/rock/kos
ExecStart=/home/rock/kos/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target