.apps {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;

  overflow-y: scroll;
  scrollbar-width: none;

  width: -webkit-fill-available;
  height: -webkit-fill-available;

  background-color: var(--bg);
  margin: 8px;

  justify-items: center;
  align-content: start;
}

.apps .app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 16px;

  font-family: "Inter";
  font-weight: 500;
  color: var(--text);

  transition: 0.35s;
}

.apps .app:active {
  background-color: var(--primary-color);
  border-radius: 5px;
}

.app p {
  margin: auto;
  font-size: 16px;
  text-align: center;
  margin-top: 2px;
}

.app img {
  width: 64px;
  height: 64px;
  border-radius: 12px;
  object-fit: contain;
}
