.header {
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  height: 48px;
  background-color: var(--header);

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom-color: var(--primary-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.header .hour {
  position: absolute;
  font-size: 20px;
  color: var(--text);
  text-align: center;
  font-family: "Inter";
  font-weight: 500;
  padding: 4px;

  transition: 0.35s;
}
.header .hour:active {
  background-color: var(--primary-color);
  border-radius: 5px;
}

.header .signal {
  position: absolute;
  min-width: 32px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  gap: 2px;
  padding-right: 8px;
  padding-left: 8px;
}
.signal span {
  font-size: 20px;
  padding: 5px;

  border-radius: 1px;
  transition: 0.35s;
}
.signal span:active {
  background-color: var(--primary-color);
  border-radius: 5px;
}
