:root {
  --primary-color: #f06a48c8;

  --header: black;
  --bg: #121212;
  --bg2: #2a323b;
  --text: #ffffff;
}

/* Tema escuro */
@media (prefers-color-scheme: dark) {
  :root {
    --header: black;
    --bg: #121212;
    --bg2: #2a323b;
    --text: #ffffff;
  }
}

/* Tema claro */
@media (prefers-color-scheme: light) {
  :root {
    --header: white;
    --bg: #f5f5f5;
    --bg2: #95b1d1;
    --text: #000000;
  }
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  src: url("/assets/fonts/MaterialSymbolsOutlined.ttf") format("truetype");
}
.symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, sans-serif;
  user-select: none;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  position: absolute;
}
html {
  zoom: 1.2;
}

.window {
  top: 49px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  position: fixed;

  display: flex;
  transition: transform 0.35s ease;
}

.page {
  width: 100%;
  height: 100%;
  flex-shrink: 0;

  justify-content: center;
  align-items: center;
  display: flex;
}

.footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 32px;
  width: 80%;
  height: 48px;
  background-color: #f06a48c8;
  text-align: center;
  font-size: 14px;
  color: #888888;
  border-radius: 50px;
  backdrop-filter: blur(6px);

  /* box-shadow: 0px 0px 13px 1px #F06B48; */
}
