.bottom-bar--new {
  background: transparent;
  height: -webkit-fill-available;
  width: 80px;
}

.bottom-bar--new .control-dock {
  padding: 40px 15px;
  height: 100%;
  flex-direction: column;
  border: none;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.bottom-bar--new .nav-divider {
  height: 1px;
  width: auto;
  background: rgba(255, 255, 255, 0.3);
  align-self: stretch;
}

.bottom-bar--new .control-btn {
  color: white;
}
